$medium-green: rgb(73, 173, 79);
$medium-blue: rgb(50, 142, 200);
$medium-blue2: rgb(30, 120, 180);
$dark-blue: rgb(25, 100, 142);
$dark-blue2: rgb(10, 80, 120);
$medium-red: rgb(210, 45, 45);

$white: rgb(255, 255, 255);
$light-gray1: rgb(242, 242, 242);
$light-gray2: rgb(239, 239, 239);
$light-gray3: rgb(225, 225, 225);
$light-gray4: rgb(219, 219, 219);

$black: rgb(0, 0, 0);
$dark-gray1: rgb(70, 70, 70);
$dark-gray2: rgb(51, 51, 51);
$dark-gray3: rgb(42, 42, 42);

$navbar-background: $light-gray3;
$navlink: $dark-gray3;
$navlink-hover: $white;
$navlink-active: $white;
$navlink-background-hover: $dark-gray1;
$navlink-background-active: $medium-blue;
$post-panel-background: $light-gray1;
$post-body-background: $light-gray3;
$title: $black;
$action: $dark-gray1;
$post-detail-text: $dark-gray3;
$post-list-text: $black;
$voter-arrow-up: $medium-green;
$voter-arrow-down: $medium-red;
$new-post-button-text: $white;
$new-post-button-background: $medium-blue;
$new-post-button-border: $dark-blue;
$new-post-button-background-hover: $medium-blue2;
$new-post-button-border-hover: $dark-blue2;