$navbar-background: rgb(51, 51, 51);
$navlink: rgb(239, 239, 239);
$navlink-hover: rgb(0, 0, 0);
$navlink-active: rgb(255, 255, 255);
$navlink-background-hover: rgb(219, 219, 219);
$navlink-background-active: rgb(73, 173, 79);
$post-panel-background: rgb(242, 242, 242);
$post-body-background: rgb(210, 210, 210);